.form {
  margin: 0 auto;
  width: fit-content;
}

.title {
  text-align: center;
}

.contentWrap {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

.button {
  display: block;
  margin: 0 auto;
  width: 55px;
  font-size: 18px;
}
